<div class="container" >
  <div class="row" *ngFor="let hike of hikes.content">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Add by {{hike.organizer}}
        </div>
        <img class="card-img-bottom" src="http://www.zelda-source.com/img/news/zeldamariokart/003.png" alt="image Hike">
        <div class="card-body">
          <h5 class="card-title">{{hike.name}}</h5>
          <p class="card-text">{{hike.description}}</p>
          <a [routerLink]="['/hikes/hike-detail/',hike.id]" class="btn btn-primary"><fa-icon [icon]="faEye"></fa-icon></a>
          <a [routerLink]="['/hikes/hike-edit/',hike.id]" class="btn btn-success"><fa-icon [icon]="faEdit"></fa-icon></a>

        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
    </div>
  </div>
</div>
